spring:
  application:
    name: ms-books-payments
  datasource:
    url: jdbc:h2:mem:paymentdb;Mode=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
       ddl-auto: create-drop
    defer-datasource-initialization: true

server:
    port: 8081
    error:
      include-stacktrace: on_param

logging:
  level:
    web: DEBUG

## Eureka Client Configuration
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true
    hostname: ms-books-payments

## Configuracion secundaria (custom)
libro:
  url: http://ms-books-catalogue/books/%s